
div.image img[src="mctdh++_TensorDim_1.png"]{ 
	      width:800px; 
}

div.image img[src="mctdh++_TensorDim_2.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_title.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_intro.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_TensorDim1.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_TensorDim2.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_Tensor1.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_Tensor2.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_Tensor3.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_SPO1.png"]{ 
	      width:800px; 
}

div.image img[src="QDlib_SPO2.png"]{ 
	      width:800px; 
}

